# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - brideside-lead-automation

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://index.docker.io/v1/
        username: ${{ secrets.AzureAppService_ContainerUsername_71a72f031be248aca5f6455ad1eea9a2 }}
        password: ${{ secrets.AzureAppService_ContainerPassword_c189d9e5c13847f1b83ca316f5606f62 }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: index.docker.io/${{ secrets.AzureAppService_ContainerUsername_71a72f031be248aca5f6455ad1eea9a2 }}/shubhamlohra/instagram-bot-lead:${{ github.sha }}
        file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'brideside-lead-automation'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_e1d4898350384e38958d94234e060a7c }}
        images: 'index.docker.io/${{ secrets.AzureAppService_ContainerUsername_71a72f031be248aca5f6455ad1eea9a2 }}/shubhamlohra/instagram-bot-lead:${{ github.sha }}'